{{!-- local_name, addres, description, email, phone
top_reasons(header,image), price, web_url) --}}



<div>
    <img src="{{this.photo.images.small.url}}" alt="Image">
    <p>{{this.address}}</p>
    <p>{{description}}</p>
    <a href="{{this.email}}">почта {{this.email}}</a>
    <a href="{{this.phone}}">Телефон {{this.phone}}</a>
    <p>{{price}}</p>
    <a href="{{this.web_url}}"></a>
</div>